.locationFooter {
	/* border: 1px solid black; */
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 16px;
	position: fixed; /* sticky and remove width*/
	width: 100%;
	bottom: 0;
	background: rgb(249, 245, 238);
}
.locationFooter > .MuiSvgIcon-root {
	/* flex: 0.1 !important; */
	color: rgb(63, 32, 33);
	cursor: pointer !important;
}
.locationFooter__searchBar {
	/* border: 1px solid rgb(184, 53, 53); */
	flex: 0.8;
	margin: 0px 16px;
	padding: 8px;
	cursor: pointer;
}
.locationFooter__searchBar__search {
	border-bottom: 2.4px solid rgb(63, 32, 33);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.locationFooter__cart {
	/* flex: 0.1; */
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(200, 16, 46);
	cursor: pointer;
	font-size: 14px;
	transition: all 0.125s ease 0s;
	border-radius: 80px;
	padding: 8px 20px;
}
.locationFooter__cart:hover {
	background-color: rgba(102, 20, 35, 0.822);
}
.locationFooter__cart > p {
	margin-left: 8px;
	color: white;
	font-size: 16px;
	font-weight: 600;
}
.locationFooter__cart > .MuiSvgIcon-root {
	color: white !important;
	font-size: 16px !important;
	cursor: pointer !important;
}
.location__text {
	font-weight: 500;
	color: rgb(63, 32, 33);
	font-size: 1rem;
	white-space: nowrap;
}
