.mobileapp {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(63, 32, 33);
	border-radius: 20px;
	position: relative;
	width: 75%;
	height: 75vh;
	margin: 130px auto;
}

.mobileapp__image {
	width: 390px;
	height: 700px;
	object-fit: contain;
	position: absolute;
	top: -90px;
	left: 25px;
}

.mobileapp__logos {
	margin-bottom: 30px;
}
.appstore {
	width: 150px;
	height: 50px;
	object-fit: contain;
	margin-right: 30px;
	cursor: pointer;
}

.playstore {
	width: 150px;
	height: 50px;
	object-fit: contain;
	cursor: pointer;
}
.mobileapp__text {
	margin-left: 400px;
	flex: 0.6;
}
.mobileapp__text > h1 {
	color: white;
	font-size: 52px;
	overflow-wrap: break-word;
}
.para {
	font-size: 16px;
	color: lightgray;
	font-weight: 500;
	margin: 12px 0px 32px;
	overflow-wrap: break-word;
}

.trademark {
	font-size: 13px;
	color: white;
	overflow-wrap: break-word;
	margin: 12px 0px 32px;
}
