.storelocator {
	/* border: 1px solid black; */
	margin-top: 82px;
	/* height: 2000px; */
	background: rgb(249, 245, 238);
}
.storelocator__header {
	/* border: 1px solid black; */
	border-top: 1px solid rgba(0, 0, 0, 0.1);

	background: rgb(200, 16, 46);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/* position: relative; */
}
.storelocator__header > h1 {
	/* flex: 0.9; */
	margin-top: 12px;
	margin-bottom: 12px;
	/* margin-left: 200px; */
	/* border: 1px solid black; */
	text-align: center;
	width: 20%;
	/* margin-right: 250px; */
}
.storelocator__button__wrapper {
	/* flex: 0.1; */
	/* flex: 0.9; */
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid rgb(212, 156, 156); */
	/* padding: 8px; */
	margin-top: 16px;
	margin-bottom: 16px;
	/* position: absolute;
  right: 50px; */
	margin-right: 230px;
}
.storelocator__button__wrapper > button {
	background: rgb(200, 16, 46);
	color: rgb(255, 255, 255);
	border: none;
	font-size: 20px;
	font-weight: bold;
	/* position: relative;
	right: -400px; */
	border-radius: 80px;
	cursor: pointer;
	/* width: 100%; */
	padding: 18px;
}
.storelocator__button__wrapper > button > span > .MuiSvgIcon-root {
	vertical-align: middle !important;
	padding: 0px !important ;
	margin-left: 5px;
}
.storelocator__button__wrapper > button:hover {
	background-color: rgb(136, 10, 30);
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: rgb(63, 32, 33) !important;
	background: rgb(255, 255, 255) !important;
}
.MuiFormLabel-root.Mui-focused {
	color: rgb(63, 32, 33) !important;
	/* background: rgb(255, 255, 255) !important; */
}

.storelocator__main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	margin-top: 16px;
	margin-bottom: 20px;
}
.searchfield {
	margin-left: 30px;
}
.pickuplabel {
	border: 1px solid rgb(63, 32, 33);
	background-color: rgb(63, 32, 33);
	color: white;
	font-size: 15px;
	padding: 16px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
}
.deliverylabel {
	border: 1px solid rgb(63, 32, 33);
	color: rgb(63, 32, 33);
	background-color: white;
	font-size: 15px;
	padding: 16px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
}
